<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"renovater/renovater-core-search-title"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","bottom":"0px"}}},"layout":{"inherit":false,"contentSize":"1290px","type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:80px;padding-bottom:0px"><!-- wp:search {"label":"Search","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true,"align":"center","style":{"border":{"width":"1px"}},"backgroundColor":"gv-color-accent","textColor":"gv-color-text-primary","borderColor":"renovater-border"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"layout":{"wideSize":"1140px","contentSize":"1290px","type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:query {"queryId":24,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:post-featured-image {"isLink":true,"align":"wide","style":{"spacing":{"margin":{"bottom":"20px"}},"border":{"radius":"0px"}}} /-->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px","fontStyle":"normal","fontWeight":"400"}},"textColor":"gv-color-accent","fontFamily":"roboto"} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"500","fontSize":"24px","lineHeight":"1.7"}},"textColor":"gv-color-text-primary","fontFamily":"roboto"} /-->

<!-- wp:post-excerpt {"moreText":"Read More","excerptLength":15,"style":{"spacing":{"margin":{"top":"20px","bottom":"20px"}},"elements":{"link":{"color":{"text":"var:preset|color|2SCgNm"}}},"typography":{"fontSize":"15px"}},"textColor":"gv-color-text-secondary","fontFamily":"ibm-plex-sans"} /-->
<!-- /wp:post-template -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-pagination {"paginationArrow":"arrow","style":{"typography":{"fontSize":"15px"},"elements":{"link":{"color":{"text":"var:preset|color|renovater-accent"},":hover":{"color":{"text":"var:preset|color|gv-color-accent-hover"}}}}},"textColor":"gv-color-accent","fontFamily":"roboto","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->