<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"renovater/renovater-core-single-post-title"} /-->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"40px"}},"layout":{"inherit":false,"contentSize":"800px","type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"style":{"border":{"radius":"0px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"20px"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
<div class="wp-block-column" style="flex-basis:100%"><!-- wp:group {"style":{"spacing":{"blockGap":"15px"}},"textColor":"renovater-body-text","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-renovater-body-text-color has-text-color"><!-- wp:post-author {"textAlign":"left","showAvatar":false,"showBio":false,"byline":"","style":{"typography":{"fontSize":"15px"}},"textColor":"gv-color-text-secondary","fontFamily":"ibm-plex-sans"} /-->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}},"textColor":"gv-color-text-secondary","fontFamily":"ibm-plex-sans"} /-->

<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|renovater-accent"}}},"typography":{"fontSize":"15px"}},"textColor":"gv-color-text-secondary","fontFamily":"ibm-plex-sans"} /-->

<!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|renovater-accent"}}},"typography":{"fontSize":"15px"}},"textColor":"renovater-primary","fontFamily":"ibm-plex-sans"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:post-content {"align":"wide","layout":{"inherit":true}} /-->

<!-- wp:separator {"className":"is-style-wide","style":{"spacing":{"margin":{"top":"40px","bottom":"40px"}}},"backgroundColor":"gv-color-border-input"} -->
<hr class="wp-block-separator has-text-color has-gv-color-border-input-color has-alpha-channel-opacity has-gv-color-border-input-background-color has-background is-style-wide" style="margin-top:40px;margin-bottom:40px"/>
<!-- /wp:separator -->

<!-- wp:comments {"className":"wp-block-post-comments","style":{"elements":{"link":{"color":{"text":"var:preset|color|2SCgNm"}}}},"textColor":"gv-color-text-secondary"} -->
<div class="wp-block-comments wp-block-post-comments has-gv-color-text-secondary-color has-text-color has-link-color"><!-- wp:comments-title /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->